/* Universal */

/* I wanted to explain the rationale for my color scheme in case you had any feedback on that! I wanted it to have a gender-neutral feel and to make it have less issues for color-blind viewers. I couldn't find specifically how to get palettes that would work for color-blindness, but I did find definite combinations to avoid, so that was another reason I kept it neutral. */


* {
	box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0px auto;
  width: 100%;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #353B3C;
  padding: 16px 0;
}

h2 {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  color: #353B3C;
  padding: 16px 0;

}

h3 {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #353B3C;
  padding: 16px 0;
}

h4 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0px;
  font-family: "Montserrat", sans-serif;
  color: #353B3C;
  padding: 16px 0;
}

p {
  font-family: "Lato", sans-serif;
  color: #353B3C;
  line-height: 1.4;
  padding: 16px 0;
}

a {
  font-family: "Lato", sans-serif;
  color: #846A6A;
}


/* Header  */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  background-color: #C6C7C4;
  color: #846A6A;
  font-family: "Merriweather", sans-serif;
  padding-left: 24px;
  padding-right: 24px;
}

nav span {
  padding: 16px;
}

nav span:hover {
  color: #353B3C;
}

.colmar {
  font-weight: bold;
}

.school-name-and-logo {
  display: flex;
  align-items: center;
}

.mobile-header {
  display: none;
}

@media only screen and (max-width: 800px) {
  header {
    display: none;
  }

  .mobile-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 64px;
    background-color: #C6C7C4;
    padding-left: 24px;
    padding-right: 24px;
  }
}

/* First Section  */

.section-1 {
  background-color: #EEF0F2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-1 .column-1 img {
  max-width: 100%;
}

.section-1 .column-1 {
  max-width: 60%;
  padding: 32px 24px;
}

.section-1 .column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.section-1 h1, .section-1 h3 {
  max-width: 75%;
}

button {
  display: flex;
  width: 65%;
  justify-content: center;
  background-color: #A2999E
}

button h3 {
  font-weight: 400;
  color: #EEF0F2;
  padding: 16px 0;
}

button:hover {
  background-color: #846A6A;
}

@media only screen and (max-width: 600px) {
  .section-1 {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
  }
  .section-1 .column-1 {
    max-width: 100%;
  }
  .section-1 .column-2 {
    align-items: center;
  }
}

/* Second Section */

.section-2 {
  display: flex;
}

.section-2 .column-1 {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  padding: 32px 24px;
}

.subtext {
  font-family: "Merriweather", serif;
  font-size: 0.7rem;
}

.section-2 .column-2 {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  max-width: 40%;
}

.section-2 .column-1 img {
  width: 100%;
}

.section-2 .column-2 img {
  width: 35%;
  height: 35%;
  padding: 16px;
}

.section-2 .row {
  display: flex;
  padding-right: 16px;
}

.section-2 .row-3 {
  background-color: #EEF0F2;
}

.row-content {
  display: flex;
  flex-direction: column;
  width: 65%
}
@media only screen and (max-width: 800px) {
  .section-2 .column-1 {
    display: none;
  }
  .section-2 .column-2 {
    min-width: 100%;
    display: flex;
    align-items: center;
    padding-right: 0px;
    justify-content: center;
  }
  .section-2 {
    width: 100%;
    display: flex;
    align-items: center;
    padding-right: 0px;
  }
  .row, .row-3 {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .section-2 .column-1 {
    display: none;
  }

  .section-2 .column-2 {
    width: 100%;
    display: flex;
    align-items: center;
    padding-right: 0px;

  }

  .section-2 .column-2 img {
    width: 100%;
    height: auto;
    display: flex;
  }

  .section-2 .row {
    padding-right: 0px;
  }

  .row, .row-3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .row-content {
    text-align: center;
  }
}


/* Third Section */

.section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EEF0F2;
}

.section-3 h2 {
  padding-top: 32px;
}

.grid {
  padding: 0 72px 32px 72px;
  display: flex;
  flex-direction: column;
}

.grid .row-one, .grid .row-two {
  display: flex;
}

.grid-item {
  background-color: white;
  width: 30%;
  margin: 32px;
}

.grid-item:hover {
  transform: scale(1.2);
}

.grid-item .content {
  padding: 16px;
}

.grid-item h4, .grid-item p {
  color: #1B2021;
}

.grid-item img {
  max-width: 100%;
  height: auto;
}

.mobile-section-3 {
  display: none;
}

@media only screen and (max-width: 800px) {
  .grid-item {
    display: flex;
    flex-direction: column;
    width: 35%;
  }
}

@media only screen and (max-width: 600px) {
  .grid {
    display: none;
  }

  .mobile-section-3 {
    display: flex;
    flex-direction: column;
  }

  .mobile-grid-item {
    max-width: 100%;
    margin: 8px 16px;
    padding: 16px;
    background-color: #846A6A;
    padding: 16px;
    text-align: center;
  }


  .mobile-grid-item h4 {
    color: #EEF0F2;
  }
  .mobile-grid-item:hover {
    background-color: #A2999E;
  }
}


/* Fourth Section */
.section-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-4 h2 {
  padding-top: 32px;
}

.section-4 .column-1 {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  padding: 32px 24px;
}

.section-4 .column-2 {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  max-width: 40%;
}

video {
  max-width: 100%;
}

.section-4 .column-2 img {
  width: 35%;
  height: 35%;
  padding: 16px;
}

.section-4 .row-one, .section-4 .row-two {
  display: flex;
  flex-direction: row;
  padding-right: 16px;
}

.section-4 .row-one {
  background-color: #EEF0F2;
}

.section-4 .main-content {
  display: flex;
}

.row-content {
  display: flex;
  flex-direction: column;
  max-width: 65%
}

@media only screen and (max-width: 600px) {
  .section-4 .column-1 {
    display: none;
  }
  .section-4 .column-2 {
    min-width: 100%;
    display: flex;
    align-items: center;
    padding-right: 0px;
  }
}

/* Footer  */

footer {
  border-top: 1px solid #EEF0F2;
  display: flex;
  justify-content: space-between;
  padding: 16px 24px ;
  height: 64px;
  font-family: "Merriweather", serif;
  color: #846A6A;
  font-size: 0.8rem;
}

footer span {
  padding: 16px;
}

@media only screen and (max-width: 600px) {
  .right {
    display: none;
  }
}
